header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13vh;
    background: rgb(88, 55, 55);
    nav{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        ul{
            display: flex;
            width: 50vw;
            background: red;
            justify-content: space-around;
            font-size: 1.5rem;
        }
    }
 
}